#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* CSS CardUser */
.rond{
  background-color: grey;
  border-radius: 100%;
}
/* CSS Calendar */
.backgroundOrange:hover{
  background-color: orange;
}
.month{
  background-color: orange;
  font-size: 2rem;
}
.grid-7{
  display: grid;
  grid-template-columns: repeat(7,auto);

}
.grid-7 div{
  height: 50px;
  width: 50px;
}

.days div{
  border: solid 1px black;
  margin: 3px;
}
/* CSS ToDoList */
.green{
  background-color: yellowgreen;
}
.orange{
  background-color: orange;
}
